/* 导航栏*/
.nav {
    background: #171717;
    width: 25%;
    padding: 5rem 3rem 2rem 3rem;
    color: white;
}

.nav .nav-head {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.nav .nav-btn {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}

.nav .nav-short {
    text-align: center;
}

/*折叠图标*/
#hide-btn-left, #hide-btn-right {
    position: absolute;
    top: 45%;
    font-size: 3rem;
    transform: scale(2, 2);
    color: transparent;
    cursor: pointer;
}

#hide-btn-left {
    right: 1rem;
}

#hide-btn-right {
    left: 1rem;
    display: none;
}

#hide-btn-right:hover {
    color: rgba(243, 243, 233, 0.9);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#hide-btn-left:hover {
    color: rgba(0, 0, 0, 0.9);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
}