/*内容栏*/
.content {
    background: #f3f3e9;
    width: 75%;
    /*padding: 2rem 4rem;*/
    /*overflow-y: scroll;*/
    line-height: 2rem;
    box-sizing: border-box;
    border: none;
}
#content-list {
    padding: 2rem 4rem;
}
#content-tags {
    padding: 2rem 4rem;
}
.i-content {
    border: none;
    width: 100%;
    padding: 2rem 4rem;
    box-sizing: border-box;
    line-height: 2rem;
}
.content .page-link {
    font-size: 1rem;
    margin-bottom: 1rem;
}
#page-bar {
    position: absolute;
    bottom: 2rem;
    right: 10%;
}
#page-bar span {

}
.page-bar-btn {
    color: blue;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav-head {
    cursor: pointer;
}
h1 {
    text-align: center;
}
h2 {
    margin-left: 50%;
    font-weight: normal;
}
h2:before {
    content: "——";
    padding-right: 0.6rem;
}

#content-iframe {
    display: none;
    width: 100%;
    height: 100%;
    border: none;
}

#content-tags {
    display: none;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}
.tag-list {
    cursor: pointer;
    color: blue;
    font-weight: bold;
}
.tag-list:hover {
    color: black !important;
}
.tag-pages {
    text-indent: 2rem;
    color: #030303;
    cursor: pointer;
}
.tag-pages:hover {
    color: #ffa500;
}
